.odd {
    background-color: rgb(243, 183, 183);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#second {
    color: rgb(0, 0, 204);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#forth {
    font-weight: bold;
    background-color: rgb(121, 201, 121);
}